body {
	background: transparent;
}

#main {
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
}

#box {
	width:100%;
	font-size:20px;
	font-weight:300;
}

.bold1 {
	font-weight:600;
	font-size:40px;
}
.bold2 {
	font-weight: 600;
}

input {
	background-color:rgba(0,0,0,0);
	border-bottom:1.5px solid white;
	border-top:none;
	border-left:none;
	border-right:none;
	width:400px;
}

input:focus {
	outline:none;
}

#user-input {
	font-weight:600;
}
